.PostUpdate {}

.PostUpdate form {
    width: 250px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0px #0000006b;
}

.PostUpdate form label {
    margin-bottom: 20px;
}

.PostUpdate form label span {}

.PostUpdate form label input,
.PostUpdate form label textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    box-shadow: 2px 4px 4px 0px #0000006b;
    margin-bottom: 13px;
}

.PostUpdate form label textarea {}